input {
    margin-right: 3px;
}
.login-area {
    padding: 20px;
    text-align: right;
}
.login-error-message {
    color: orangered;
}
.sample-container {
    border: 1px solid gray;
    text-align: center;
}
.sample-register-form {
    padding: 5px;
    border-bottom: 1px solid gray;
}
.sample-item {
    display: flex;
    justify-content: center;
    border-bottom: 1px dotted gray;
    padding: 10px;
}
.sample-item-content {
    flex: 1;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    overflow-y: hidden;
}
